<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} // {{ site.author }}{% else %}{{ site.author }} // Des Moines, Iowa Web Designer & Front-End Developer{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl }}" type="image/ico">

  <link rel="stylesheet" href="{{ "/css/reset.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/global.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700|Open+Sans:600,800" type="text/css">
  <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/js/global.js"></script>
</head>
